.react-tabs__tab {
    font-size: 2.5rem;
    font-weight: 700;
    margin-right: 3rem;
    padding: 0;
    border: none;
    position: unset;
    bottom: 0;
    transition: all 0.2s;
    &:hover {
        color: #c89979;
        transition: all 0.2s;
    }
}

.react-tabs__tab--selected {
    color: #c89979;
    background: unset;
    border: none;
    border-radius: unset;
    position: unset;
    bottom: 0;
    padding: 0;
}

.react-tabs__tab-list {
    border-bottom: unset;
    margin: 40px 15px;
}

.tab-product {
    padding-top: 20px;
    margin-bottom: 40px;
}

@media only screen and (min-width: 48em) and (max-width: 63.9375em) {
    .react-tabs__tab {
        margin-right: 2rem;
        font-size: 2.4rem;
    }
}

@media only screen and (max-width: 46.1875em) {
    .react-tabs__tab {
        margin-bottom: 20px;
    }

    .react-tabs__tab-list {
        margin: 0 15px;
    }

    .tab-product {
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 20em) and (max-width: 23.375em) {
    .react-tabs__tab {
        font-size: 2rem;
    }
}
