@-webkit-keyframes hoverBoxCart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hoverBoxCart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header-center {
  border-bottom: 1px solid #484848;
  padding: 20px 0;
}

.header-center .header__center--logo > a {
  display: block;
}

.header-center .header__center--logo > a > img {
  max-width: 200px;
  max-height: 100px;
  width: 100%;
}

.header-center .header__center--seacrh {
  position: relative;
}

.header-center .header__center--input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-center .header__center--input > input {
  max-width: 100%;
  width: 100%;
  height: 4rem;
  outline: none;
  border: 1px solid #ccc;
  font-size: 1.5rem;
  padding: 8px;
  border-radius: 4px;
}

.header-center .header__center--button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #c89979;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}

.header-center .header__center--button > button {
  font-size: 2.4rem;
  padding: 1px 20px;
  border: 1px solid #ccc;
  outline: none;
  background-color: #c89979;
}

.header-center .header__center--button > button > i {
  color: #fff;
}

.header-center .header__center--cart {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-center .header__center--cart .header__center--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-center .header__center--cart .header__center--list .header__center--item {
  position: relative;
  margin: 0 12px;
}

.header-center .header__center--cart .header__center--list .header__center--item > a > i {
  font-size: 1.8rem;
  color: #fff;
}

.header-center .header__center--cart .header__center--list .header__center--item-cart:hover .cart-box {
  display: block;
  -webkit-animation: hoverBoxCart linear 0.3s;
          animation: hoverBoxCart linear 0.3s;
}

.header-center .header__center--cart .header__center--list .header__center--item-cart .cart-box {
  position: absolute;
  top: 35px;
  right: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  min-width: 260px;
  padding: 20px 20px;
  border-radius: 4px;
  border: 3px solid #ccc;
  display: none;
  -webkit-animation: hoverBoxCart linear 0.3s;
          animation: hoverBoxCart linear 0.3s;
  z-index: 10;
}

.header-center .header__center--cart .header__center--list .header__center--item-cart .cart-box::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 20px;
  top: -20px;
  right: 0;
}

.header-center .header__center--cart .header__center--list .header__center--item-cart .cart-box .cart-box-list .cart-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-center .header__center--cart .header__center--list .header__center--item-cart .cart-box .cart-box-list .cart-info > img {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.header-center .header__center--cart .header__center--list .header__center--item-cart .cart-box .cart-box-list .cart-info .info-total {
  margin-left: 30px;
  font-size: 1.4rem;
}

.header-center .header__center--cart .header__center--list .header__center--item-cart .cart-box .cart-box-list .cart-info .info-total .proudct-cart-price {
  color: #b3b3b3;
  margin-top: 5px;
  font-weight: 700;
}

.header-center .header__center--cart .header__center--list .header__center--item-cart .cart-box .cart-box-list .cart-info .delete-cart {
  font-size: 1.3rem;
  margin-left: 30px;
}

.header-center .header__center--cart .header__center--list .header__center--item-cart .cart-box .cart-box-list .cart-info .delete-cart > i {
  padding: 2px 4px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.header-center .header__center--cart .header__center--list .header__center--item-cart .cart-box .cart-box-list .product-cart-total {
  text-align: center;
  margin-top: 20px;
  font-size: 1.8rem;
  font-weight: 700;
  color: #c89979;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.header-center .header__center--cart .header__center--list .header__center--item-cart .cart-box .cart-box-list .to-cart {
  text-align: center;
  display: block;
  margin-top: 20px;
  font-size: 1.8rem;
  font-weight: 700;
  background-color: #c89979;
  color: #fff;
  padding: 5px 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: none;
}

.header-center .header__center--cart .header__center--list .header__center--item-cart .cart-box .cart-box-list .to-cart:hover {
  background-color: #d26e4b;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header-center .header__center--cart .header__center--list .header__center--item-cart .cart-box .no-cart {
  font-size: 2rem;
  text-align: center;
  color: #777;
}

@media only screen and (min-width: 48em) and (max-width: 63.9375em) {
  .header-center {
    display: none;
  }
}
/*# sourceMappingURL=HeaderCenter.css.map */