.nav-bottom {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: #333;
    .bottom__block--nav {
        .bottom__nav {
            display: flex;
            justify-content: center;
            align-items: center;
            & > li {
                margin: 0 30px;
                padding: 20px 0;
                & > a {
                    color: #fff;
                    font-size: 1.4rem;
                    font-weight: 600;
                    text-decoration: none;
                    text-transform: uppercase;
                    display: block;
                    transition: all 0.3s;
                    position: relative;
                    border-bottom: 1px solid transparent;
                    &:hover {
                        color: #be9979;
                        transition: all 0.3s;
                        border-bottom: 1px solid #be9979;
                    }
                }

                .active {
                    color: #be9979;
                    border-bottom: 1px solid #be9979;
                }
            }
        }
    }
}
