.footer {
    background-color: #333333;
    padding: 40px 0;
    .footer-contact {
        color: #fff;
        .footer-title {
            font-weight: 700;
            margin-bottom: 30px;
        }
        .footer__contact--list {
            display: grid;
            align-items: center;
            .footer__contact--item {
                font-size: 1.6rem;
                margin-bottom: 20px;
                & > i {
                    margin-right: 8px;
                }
                & > a {
                    color: #fff;
                    text-decoration: none;
                    transition: all 0.3s;
                    &:hover {
                        color: #c89979;
                    }
                    & > i {
                        margin-right: 8px;
                    }
                }
            }
        }
        .fooer__contact--icon {
            display: flex;
            align-items: center;
            .contact__icon--item {
                font-size: 2rem;
                & > a {
                    color: #fff;
                    display: block;
                    padding: 3px 12px;
                    margin: 0 5px;
                    border-radius: 50%;
                    opacity: 0.9;
                    transition: all 0.3s;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .footer-connective {
        color: #fff;
        text-align: center;
        .footer-title {
            font-weight: 700;
            margin-bottom: 30px;
        }
        .connective-list {
            display: grid;
            align-items: center;
            .connective-item {
                font-size: 1.6rem;
                margin-bottom: 20px;
                & > a {
                    color: #fff;
                    text-decoration: none;
                    transition: all 0.3s;
                    &:hover {
                        color: #c89979;
                    }
                }
            }
        }
    }
    .footer-support {
        color: #fff;
        text-align: center;
        .footer-title {
            font-weight: 700;
            margin-bottom: 30px;
        }
        .footer-support-list {
            display: grid;
            align-items: center;
            .footer-support-item {
                font-size: 1.6rem;
                margin-bottom: 20px;
                & > a {
                    color: #fff;
                    text-decoration: none;
                    transition: all 0.3s;
                    &:hover {
                        color: #c89979;
                    }
                }
            }
        }
    }
    .footer-app {
        color: #fff;
        .footer-title {
            font-weight: 700;
            margin-bottom: 30px;
        }
        & > p {
            font-size: 1.6rem;
            margin-bottom: 20px;
        }
        .footer-app-dowload {
            & > img {
                display: inline-block;
                max-width: 100%;
                margin-bottom: 20px;
            }
        }
    }
}

.footer .footer-connective .connective-list .connective-item > a.active {
    color: #be9979;
}

@media only screen and (min-width: 48em) and (max-width: 63.9375em) {
    .footer .footer-app {
        margin-top: 40px;
    }
    .footer .footer-contact .footer__contact--list .footer__contact--item {
        font-size: 1.5em;
    }
    .footer .footer-connective .connective-list .connective-item {
        font-size: 1.5rem;
    }
    .footer .footer-support .footer-support-list .footer-support-item {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 46.1875em) {
    .footer {
        text-align: center;
    }

    .footer .footer-contact .fooer__contact--icon {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0 30px 0;
    }
}
