.contact-center {
    margin-bottom: 20px;
    padding-top: 20px;
    .contact-address {
        display: flex;
        padding-bottom: 20px;
        .address-icon {
            color: #fff;
            margin-right: 12px;
            & > i {
                font-size: 2rem;
                padding: 10px 10px;
                background-color: #c89979;
            }
            & > svg {
                font-size: 2rem;
                padding: 5px;
                background-color: #c89979;
                width: 35px;
                height: 40px;
            }
        }
        .address-text {
            & > a {
                color: #353535;
                font-size: 1.6rem;
                font-weight: 700;
                text-decoration: none;
                transition: all 0.3s;
                display: grid;
                &:hover {
                    color: #c89979;
                }
            }
            & > h3 {
                font-weight: 700;
                font-size: 1.8rem;
                margin-bottom: 10px;
            }
            & > p {
                font-size: 1.6rem;
            }
        }
    }
}
