.nav-bottom {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: #333;
    .bottom__block--nav {
        .bottom__nav {
            display: flex;
            justify-content: center;
            align-items: center;
            & > li {
                margin: 0 30px;
                padding: 20px 0;
                & > a {
                    color: #fff;
                    font-size: 1.4rem;
                    font-weight: 700;
                    text-decoration: none;
                    text-transform: uppercase;
                    display: block;
                    transition: all 0.3s;
                    position: relative;
                    border-bottom: 1px solid transparent;
                    &:hover {
                        color: #be9979;
                        transition: all 0.3s;
                        border-bottom: 1px solid #be9979;
                    }
                }

                .active {
                    color: #be9979;
                    border-bottom: 1px solid #be9979;
                }
            }
        }
    }
}

.active-nav-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    z-index: 99;
    animation: activeNavTop ease 0.5s;
}

.go-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    animation: activeGoTop ease 0.5s;
    & > a {
        font-size: 2rem;
        padding: 10px 20px;
        border: 1px solid #ccc;
        border-radius: 50%;
        color: #ccc;
        transition: all 0.3s;
        &:hover {
            border: 1px solid #c89979;
            color: #fff;
            background-color: #c89979;
        }
    }
}

@keyframes activeGoTop {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes activeNavTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@media only screen and (min-width: 48em) and (max-width: 63.9375em) {
    .nav-bottom .bottom__block--nav .bottom__nav > li {
        margin: 0 18px;
    }
    .nav-bottom .bottom__block--nav .bottom__nav {
        display: none;
    }
}

@media only screen and (max-width: 46.1875em) {
    .nav-bottom {
        display: none;
    }
}
