.category-filter {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  font-size: 2.5rem;
}

.category-filter > i {
  margin-right: 12px;
}

.category-left {
  color: #353535;
  font-weight: 600;
  font-size: 1.6rem;
}

.category-left > h3 {
  margin-bottom: 30px;
}

.category-left .category-list {
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-bottom: 30px;
}

.category-left .category-list > li {
  border-bottom: 1px dashed #ccc;
}

.category-left .category-list > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  padding: 20px 10px;
}

.category-left .category-list > li > a > img {
  height: 60px;
  max-height: 100%;
  margin-right: 12px;
}

.category-left .category-list > li > a .category__list--info {
  display: -ms-grid;
  display: grid;
}

.category-left .category-list > li > a .category__list--info > span {
  color: #334862;
}

.category-left .category-list > li > a .category__list--info > p {
  color: #111;
  font-weight: 700;
}

.category-left .new-post-list {
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-bottom: 30px;
}

.category-left .new-post-list > li {
  border-bottom: 1px dashed #ccc;
}

.category-left .new-post-list > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 10px;
  text-decoration: none;
}

.category-left .new-post-list > li > a > img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 12px;
}

.category-left .new-post-list > li > a > p {
  font-size: 1.4rem;
  color: #444444;
  font-weight: 400;
}

.category-left-mobile {
  color: #353535;
  font-weight: 600;
  font-size: 1.6rem;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  background-color: #fff;
  height: 100%;
  width: 250px;
  overflow-y: auto;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.category-left-mobile > h3 {
  margin-bottom: 20px;
  padding: 20px 20px;
}

.category-left-mobile .category-list {
  border: 2px solid #ccc;
  border-radius: 4px;
  margin: 0 20px 30px 20px;
  background-color: rgba(221, 221, 221, 0.1);
}

.category-left-mobile .category-list > li {
  border-bottom: 1px dashed #ccc;
}

.category-left-mobile .category-list > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  padding: 20px 10px;
}

.category-left-mobile .category-list > li > a > img {
  height: 60px;
  max-height: 100%;
  margin-right: 12px;
}

.category-left-mobile .category-list > li > a .category__list--info {
  display: -ms-grid;
  display: grid;
}

.category-left-mobile .category-list > li > a .category__list--info > span {
  color: #334862;
}

.category-left-mobile .category-list > li > a .category__list--info > p {
  color: #111;
  font-weight: 700;
}

.category-left-mobile .new-post-list {
  border: 2px solid #ccc;
  border-radius: 4px;
  margin: 0 20px 30px 20px;
  background-color: rgba(221, 221, 221, 0.1);
}

.category-left-mobile .new-post-list > li {
  border-bottom: 1px dashed #ccc;
}

.category-left-mobile .new-post-list > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 10px;
  text-decoration: none;
}

.category-left-mobile .new-post-list > li > a > img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 12px;
}

.category-left-mobile .new-post-list > li > a > p {
  font-size: 1.4rem;
  color: #444444;
  font-weight: 400;
}

.category-left-mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  -webkit-animation: categoryOverlay linear 0.3s;
          animation: categoryOverlay linear 0.3s;
  display: none;
}

.remove-category-mobile {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 3rem;
  color: #fff;
  z-index: 2;
  padding: 6px 20px;
  display: none;
  border: 2px solid #ccc;
  border-radius: 50%;
  -webkit-animation: categoryOverlay linear 0.3s;
          animation: categoryOverlay linear 0.3s;
  background-color: #c89979;
}

@-webkit-keyframes categoryOverlay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes categoryOverlay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 63.9375em) {
  .category-left {
    display: none;
  }
  .category-filter {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media only screen and (max-width: 46.1875em) {
  .remove-category-mobile {
    font-size: 2rem;
    padding: 0px 10px;
  }
}
/*# sourceMappingURL=CategoryCol3.css.map */