.category-filter {
    display: inline-flex;
    align-items: center;
    display: none;
    font-size: 2.5rem;
    & > i {
        margin-right: 12px;
    }
}

.category-left {
    color: #353535;
    font-weight: 600;
    font-size: 1.6rem;
    & > h3 {
        margin-bottom: 30px;
    }
    .category-list {
        border: 2px solid #ccc;
        border-radius: 4px;
        margin-bottom: 30px;
        & > li {
            border-bottom: 1px dashed #ccc;
            & > a {
                display: flex;
                align-items: center;
                text-decoration: none;
                padding: 20px 10px;
                & > img {
                    height: 60px;
                    max-height: 100%;
                    margin-right: 12px;
                }
                .category__list--info {
                    display: grid;
                    & > span {
                        color: #334862;
                    }
                    & > p {
                        color: #111;
                        font-weight: 700;
                    }
                }
            }
        }
    }
    .new-post-list {
        border: 2px solid #ccc;
        border-radius: 4px;
        margin-bottom: 30px;
        & > li {
            border-bottom: 1px dashed #ccc;
            & > a {
                display: flex;
                align-items: center;
                padding: 20px 10px;
                text-decoration: none;
                & > img {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    margin-right: 12px;
                }
                & > p {
                    font-size: 1.4rem;
                    color: #444444;
                    font-weight: 400;
                }
            }
        }
    }
}

.category-left-mobile {
    color: #353535;
    font-weight: 600;
    font-size: 1.6rem;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    background-color: #fff;
    height: 100%;
    width: 250px;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: all 0.5s;
    & > h3 {
        margin-bottom: 20px;
        padding: 20px 20px;
    }
    .category-list {
        border: 2px solid #ccc;
        border-radius: 4px;
        margin: 0 20px 30px 20px;
        background-color: rgba(221, 221, 221, 0.1);
        & > li {
            border-bottom: 1px dashed #ccc;
            & > a {
                display: flex;
                align-items: center;
                text-decoration: none;
                padding: 20px 10px;
                & > img {
                    height: 60px;
                    max-height: 100%;
                    margin-right: 12px;
                }
                .category__list--info {
                    display: grid;
                    & > span {
                        color: #334862;
                    }
                    & > p {
                        color: #111;
                        font-weight: 700;
                    }
                }
            }
        }
    }
    .new-post-list {
        border: 2px solid #ccc;
        border-radius: 4px;
        margin: 0 20px 30px 20px;
        background-color: rgba(221, 221, 221, 0.1);
        & > li {
            border-bottom: 1px dashed #ccc;
            & > a {
                display: flex;
                align-items: center;
                padding: 20px 10px;
                text-decoration: none;
                & > img {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    margin-right: 12px;
                }
                & > p {
                    font-size: 1.4rem;
                    color: #444444;
                    font-weight: 400;
                }
            }
        }
    }
}

.category-left-mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    animation: categoryOverlay linear 0.3s;
    display: none;
}

.remove-category-mobile {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 3rem;
    color: #fff;
    z-index: 2;
    padding: 6px 20px;
    display: none;
    border: 2px solid #ccc;
    border-radius: 50%;
    animation: categoryOverlay linear 0.3s;
    background-color: #c89979;
}

@keyframes categoryOverlay {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 63.9375em) {
    .category-left {
        display: none;
    }
    .category-filter {
        display: inline-flex;
    }
}

@media only screen and (max-width: 46.1875em) {
    .remove-category-mobile {
        font-size: 2rem;
        padding: 0px 10px;
    }
}
